$themecolor: #839983;
$buttoncolor: #8edd7fe5;
.todolistapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(216, 219, 163);
    box-shadow: 2px 2px 7px grey;
    justify-content: space-around;
    height: 100vh;
    .filtertodo {
        width: 15%;
        display: flex;
        margin-right: -52px;
        flex-direction: column;
        padding: 6% 2% 2% 0%;
        background-color: $themecolor;
        box-shadow: 2px 2px 7px grey;
        height: 52vh;
        .filter-button {
            &:hover {
                box-shadow: 5px 5px 2px $buttoncolor;
                cursor: pointer;
            }
            -webkit-transition: background-color 1s,
            box-shadow 1s;
            transition: background-color 1s,
            box-shadow 1s;
            width: 112%;
            margin: 22% 2% 2% 2%;
            background-color: $themecolor;
            border-style: solid;
            border-color: $buttoncolor;
            border-width: 3px;
            text-align: center;
            font-family: 'Gill Sans',
            'Gill Sans MT',
            yellow Calibri,
            'Trebuchet MS',
            sans-serif;
            font-size: 1.5em;
            color: aliceblue;
        }
        .active {
            border-style: none;
            background-color: $buttoncolor;
            font-weight: bold;
        }
    }
    .displaytodo {
        display: flex;
        flex-direction: column;
        width: 75%;
        .addotodo {
            height: 10%;
            margin-bottom: 2%;
            padding-top: 2.5%;
            padding-left: 3%;
            background-color: $themecolor;
            box-shadow: 2px 2px 7px grey;
            input {
                margin-right: 7%;
                width: 70%;
            }
            button {
                &:hover {
                    background-color: $buttoncolor;
                    box-shadow: 2px 2px 7px grey;
                }
                background-color: $buttoncolor;
                color: aliceblue;
                border-style: none;
                font-family: 'Gill Sans',
                'Gill Sans MT',
                Calibri,
                'Trebuchet MS',
                sans-serif;
            }
        }
        .listtodo {
            @keyframes onaddtodo {
                from {
                    width: 30%
                }
                to {
                    width: 100%;
                }
            }
            width: 100%;
            ul {
                width: 100%;
                list-style: none;
                li {
                    -webkit-transition: border-color 600ms;
                    transition: border-color 600ms;
                    text-decoration: none;
                    width: 100%;
                    height: 8vh;
                    background-color: #649c58fd;
                    box-shadow: 2px 2px 7px grey;
                    margin-bottom: 2%;
                    font-family: Arial;
                    padding: 1% 2% 2% 6%;
                    font-size: 1.5em;
                    border-style: none solid none none;
                    border-width: 8px;
                    border-color: #d64040e5;
                    color: aliceblue;
                    animation-name: onaddtodo;
                    animation-duration: 1s;
                }
            }
        }
        .sortTodos {
            padding-top: 1.5%;
            padding-bottom: 1.5%;
            height: 7%;
            width: 100%;
            background-color: $themecolor;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            box-shadow: 2px 2px 7px grey;
            .sort-button {
                height: 4vh;
                -webkit-transition: box-shadow 1s;
                /* Safari */
                transition: box-shadow 1s;
                &:hover {
                    box-shadow: 5px 5px 2px $buttoncolor;
                    cursor: pointer;
                }
                width: 9%;
                margin-right: 2%;
                background-color: $themecolor;
                border-style: solid;
                border-width: 3px;
                border-color: $buttoncolor;
                color: aliceblue;
                -webkit-transition: background-color 1s;
                transition: background-color 1s;
            }
            .active {
                border-style: none;
                background-color: $buttoncolor;
                font-weight: bold;
            }
        }
    }
}